@model IEnumerable<ASP_Gym_App.Models.HealthRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KCAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Height)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BMR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BMI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KCAL)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.HealthRecordId }) |
        @Html.ActionLink("Details", "Details", new { id = item.HealthRecordId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.HealthRecordId })
    </td>
</tr>
}

</table>
